data/competence_matrix.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
	<xs:element name="matrix">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="categories">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="subcategories">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="subcategory"
													            maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="skills">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="skill"
																			            maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element
																							name="description"
																							type="xs:string"/>
																						<xs:element
																							name="type">
																							<xs:simpleType>
																								<xs:restriction
																									base="xs:string">
																									<xs:enumeration
																										value="hard"/>
																									<xs:enumeration
																										value="soft"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element
																							name="fgos_codes">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element
																										name="code"
																										type="fgosCodeType"
																										maxOccurs="unbounded"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name"
															              type="xs:string"
															              use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="key" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="fgosCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ОК|ПК) \d+(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
